body, html {
    font-size: 16px;
    font-family: "Playfair Display", sans-serif;
    color: darkgray;
    background-color: white;
    opacity: 0.9;
    line-height: 1.5rem;
    color: black;
}

.container {
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    color: black;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: Helvetica;
    padding: 1rem 0px;
    background-color: white;
}

.menu .content {
    margin: 0.5rem;
}

header {
    margin-top: 1rem;
}

.bold-text {
    font-weight: 900;
}

.logo {
    padding-left: 24px;
    height: 3rem;
}

.main-logo {
    display: flex;
    align-items: center;
}

.flex-content .main-content {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
  border-right: 1px solid rgb(245, 245, 245);
}

.flex-content .supporting-content {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2rem 2rem;
}

.flex-content {
  display: flex;
  padding: 0 1.5rem;
}

.media-container {
    overflow: hidden;
}

.media-container img, .media-container video {
    width: 100%;
    display: block;
}

.banner .supporting-content {
    justify-content: center;
}

.banner {
    background-color: lightgray;
}

.banner-text button {
    padding: .5rem 0;
    background-color: #393A3A;
    border: none;
    width: 100%;
    transition: background-color .5s ease;
    line-height: 1.5rem;
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 3);
}

button label {
    color: #FFFFFF;
    font-size: 1rem;
    display: inline-block;
    padding: .5rem 0;
}

.supporting-imagebox {
    display: flex;
    padding: 1rem;
}

.supporting-imagebox .media-container {
    width: 35%;
}

.supporting-imagebox .text-content{
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 65%;
    padding: 1rem;
}

.supporting-imagebox:first-child{
    padding-top: 0;
}

.sec3 {
    padding: 2rem 4rem;
    background-color: lightgray;
}

.centerh2 {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.text-container {
    background-color: white;
    padding-left: 16px;
}

.course {
    background-color: white;
    margin:1rem;
}

.noMargin p, .noMargin h4{
    margin: 0px;
}

.noMargin p {
    margin: 8px 0px 8px 0px;
}

footer {
    width: 100%;
    height: 5rem;
    border-top: 1px solid #DCDCDC;
}

#footer {
    display: flex;
    justify-content: flex-end;
    margin-top: .5rem;
}

#footer .copyright {
    margin-right: auto;
    margin-left: 1.5rem;
}

#footer .terms-privacy {
    margin: 0 .5rem;
}